@tailwind base;
@tailwind components;
@tailwind utilities;

.trapezoid {
  position: absolute;
  width: 100px;
  height: 0;
  padding-bottom: 50px; /* 控制梯形的高度 */
  background-color: #1d1d1d;
  border-bottom-right-radius: 25px !important;
  border-radius: 10px; /* 添加圓角 */
}

.trapezoid::before {
  content: "";
  position: absolute;
  top: 0;
  right: 53px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 37px !important;
  width: 172px;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  transform: skewX(53deg);
}
.trapezoid-reverse {
  position: absolute;
  width: 100px;
  height: 0;
  padding-bottom: 50px; /* 控制梯形的高度 */
  background-color: #16171b;
  border-top-left-radius: 25px !important;
  border-radius: 10px; /* 添加圓角 */
}

.trapezoid-reverse::before {
  content: "";
  position: absolute;
  top: 0;
  left: 53px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0px !important;
  width: 125px;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  transform: skewX(53deg);
}
.footer-shadow {
  box-shadow: 0 -12px 24px #000;
}
.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress .bar {
  min-width: 0% !important;
}

.ui.dropdown .menu .selected.item {
  background-color: rgb(50, 60, 60) !important;
  color: #e2e8e3 !important;
}
.ui.selection.visible.dropdown > .text:not(.default) {
  color: #e2e8e3 !important;
}
.ui.selection.dropdown {
  color: #e2e8e3 !important;
}
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.disabled {
  background-color: #323c3c !important;
}
.customUi.ui.progress.success .bar {
  background-color: #abd010 !important;
}
.customUiHeight.ui.progress.success .bar {
  height: 0.2em !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.common-box-shadow {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06), inset 0 0 2px hsla(0, 0%, 100%, 0.25),
    inset 0 -1px 1px hsla(0, 0%, 100%, 0.1),
    inset 0 1px 1px hsla(0, 0%, 100%, 0.1);
}
.filter-gray {
  filter: grayscale(1) drop-shadow(0 2px 1.5px rgba(0, 0, 0, 0.15));
}
.header-shadow {
  box-shadow: 0 0 24px #000;
}
